* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #1C1C1C;
    display: grid;
    place-items: center;
    padding-block: 3rem;
}

h1, h3, h5, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.business-card {
    position: relative;
    width: 550px;
    background-color: #23252C;
    border-radius: 15px;
    padding: 2.75rem 0;
    border: 4px solid rgb(255 255 255 /.9);
}


.toggler {
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
    text-transform: uppercase;
}

.toggler--slider {
    width: 1.2rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 2rem;
    margin-block: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #1C1C1C;
    box-sizing: content-box;
}

.toggler--slider--circle {
    align-self: flex-end;
    bottom: 0;
    height: 1.2rem;
    width: 1.2rem;
    background-color: #F3BF99;
    border-radius: 50%;
}

.toggler-top {
   align-self: flex-start;
   height: 1.2rem;
   width: 1.2rem;
   background-color: #F3BF99;
   border-radius: 50%;
}

.toggler--dark {
    color: #f5f5f5;
}

.toggler--light {
    color: #f5f5f5;
}


footer, .info, .about, .interest {
    width: 317px;
    margin-inline: auto;
    background-color: #1A1B21;
}

 .info--light,
 .about--light,
 .interest--light {
    width: 317px;
    margin-inline: auto;
    background-color: #f5f5f5;
}

.info--light {
   text-align: center;
   border-radius: 10px 10px 0 0;
}

.info {
    text-align: center;
    border-radius: 10px 10px 0 0;
}




img.photo {
  max-width: 317px;
  border-radius: 10px 10px 0 0;
}


.info--light > *:not(last-child) {
    padding-bottom: 8px
}

.info > *:not(last-child) {
    padding-bottom: 8px
}

.info-title {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.info-title--light {
    font-size: 25px;
    font-weight: 700;
    color: #2B283A;
}

.info-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #F3BF99;
} 

.info-subtitle--light {
    font-size: 14px;
    font-weight: 400;
    color: #F47D27;
}
.info-website {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.info-website--light {
    font-size: 12px;
    font-weight: 400;
    color: #4A4E74;
}


.info-btn {
  padding-top: 15px;
}

.info-btn > .btn:not(last-child) {
    margin-right: 17px;
}

.btn {
    width: 115px;
    padding: 9px 13px 9px 11px;
    border-radius: 6px;
    border: 0;
    font-size: 16px;
    font-weight: 500;
}

.btn a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: 8px;
}

.btn-email {
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #D1D5DB;
}



.btn-linkedin {
    background-color: #5093E2;
}

.btn-linkedin a {
    color: #fff;
}

.about,
.about--light {
    padding: 20px 34px 0px 30px;
}

.interest,
.interest--light {
  padding: 10px 34px 24px 30px;  
}


.about-title, 
.interest-title {
    color: #f5f5f5;
    font-weight: 700;
}

.about-title--light, 
.interest-title--light {
    color: #2B283A;
    font-weight: 700;
}

.about-desc, 
.interest-desc {
    color: #dcdcdc;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}

.about-desc--light, 
.interest-desc--light {
    color: #4A4E74;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}


.footer {
    height: 64px;
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;
    color: #918E9B;
}

.footer--light {
    height: 64px;
    background-color: #D5D4D8;
    border-radius: 0px 0px 10px 10px;
    color: #918E9B;
}


.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% - 5em);
    margin: 0 auto;
    height: 100%;
}
.media-icon {
    font-size: 32px;
}

footer span a:hover {
    color: #fff;
}

